<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Thông tin</h6>
                <a class="collapse-item" href="/faculty" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Khoa</a>
                <a class="collapse-item" href="/major" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Chuyên ngành</a>
                <a class="collapse-item" href="/lecturer" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Giảng viên</a>
                <a class="collapse-item" href="/user" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Tài khoản</a>
                <a class="collapse-item" href="/classes" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Lớp học</a>
                <a class="collapse-item" href="/semester" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Học kỳ</a>
                <a class="collapse-item" href="/student" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Sinh viên</a>
                <a class="collapse-item" href="/subject" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Môn học</a>
                <a class="collapse-item" href="/student_subject" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Đăng ký môn học</a>
                <a class="collapse-item" href="/score" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Điểm</a>
                <a class="collapse-item" href="/score_value" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Chi tiết điểm số</a>
                <a class="collapse-item" href="/score_column" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Cột điểm</a>
                <a class="collapse-item" href="/score_percent" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Phần trăm điểm</a>
                <a class="collapse-item" href="/credit_price" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Giá tín chỉ</a>
                <a class="collapse-item" href="/tuition_fee" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Học phí</a>
                <a class="collapse-item" href="/education_program" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">Chương trình đào tạo</a>

            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>