<!DOCTYPE html>
<html lang="en">
<div th:replace="~{fragments/headTag}"></div>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sideBar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/navBar}"></div>
            <!-- End of Topbar -->

            <div class="container">
                <h1 class="text-center text-a mt-1">THÊM HỌC KÌ</h1>
                <form th:object="${add_semester}" th:action="@{/add_semester}" method="post">
                    <div class="form-floating mb-3 mt-3">
                        <label for="id">ID</label>
                        <input type="text" class="form-control"  th:field="*{id}" id="id" placeholder="VD: 12025" name="id" />
                        <div th:if="${#fields.hasErrors('id')}" class="text-danger">Lỗi: <span th:errors="*{id}"></span></div>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label for="name">Học kì</label>
                        <input type="text" class="form-control"  th:field="*{name}" id="name" placeholder="VD: Học kì 3" name="name" />
                        <div th:if="${#fields.hasErrors('name')}" class="text-danger">Lỗi: <span th:errors="*{name}"></span></div>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label for="schoolYear">Năm học</label>
                        <input type="text" class="form-control"  th:field="*{schoolYear}" id="schoolYear" placeholder="VD: 2025" name="schoolYear" />
                        <div th:if="${#fields.hasErrors('schoolYear')}" class="text-danger">Lỗi: <span th:errors="*{schoolYear}"></span></div>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label for="fromDate">Thời gian bắt đầu</label>
                        <input type="date" class="form-control"  th:field="*{fromDate}" id="fromDate" name="fromDate" />
                        <div th:if="${#fields.hasErrors('fromDate')}" class="text-danger">Lỗi: <span th:errors="*{fromDate}"></span></div>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <label for="toDate">Thời gian kết thúc</label>
                        <input type="date" class="form-control"  th:field="*{toDate}" id="toDate" name="toDate" />
                        <div th:if="${#fields.hasErrors('toDate')}" class="text-danger">Lỗi: <span th:errors="*{toDate}"></span></div>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <button type="submit" class="btn button-a">
                            Thêm học kỳ
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>


